section{
    background-color: #fff;
    width: 1100px;
    height: 570px;
    margin-left: 170px;
    padding: 10px;
    text-align: center;
    float:center;
}

.B5{
    margin-top: 112px;
}

.fb{
    transform:rotate(-11deg);
}

.fb:hover {
    transform: perspective(600px) translateZ(30px) rotate(-11deg) ;
}

.is{
    transform:rotate(-12deg);
}

.is:hover {
    transform: perspective(600px) translateZ(30px) rotate(-12deg) ;
}

.text{
    transform:rotate(-7.5deg);
}