section{
    background-color: #fff;
    width: 1100px;
    height: auto;
    margin-left: 170px;
    padding: 20px 0px 100px 0px ;
    text-align: center;
    float:center;
}  

.C1{
    margin-top: 70px;
}

.C2{
    margin-top: 30px;
    margin-left: 490px;
}