.note{
    float: left;
    margin-top: 5px;
    margin-left: 35px;
    margin-bottom: 20px;
    max-width: 100%; 
    height: auto;
}

.note2{
    float: left;
    margin-top: 5px;
    margin-left: 35px;
    margin-bottom: 20px;
    height: auto;
}