body{
    height: 100vh;
    background-image: url('../photo/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
    font-family: "나눔고딕", "나눔스퀘어";
}

.small{
    font-size: small;
    font-style: italic;
    line-height: 220%;
}
.bold{
    font-weight: bold;
}

.large{
    font-size: large;
    font-weight: bold;
}

audio{
    float: right;
	margin-top: 5px;
    margin-right: 50px;
    width: 250px;
    height: 30px;
}

.logo{
    float: left;
    margin-left: 70px;
    margin-bottom: 30px;
    margin-right: 80px;
    max-width: 100%; 
    height: auto;
}

header {
    width: 100%;
    margin-right: auto;
    margin-left: 200px;
    overflow: hidden;
}

nav ul{
    color: #5da0bc;
    width: 700px;
    height: 50px;
    position: absolute;
    display: inline;
    
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 74px;
    font-weight: bold;
    text-transform: capitalize;
}

nav li{
    width: 100%;
}

nav ul li{
    display: inline;
    padding: 0px;
}

nav ul li a{
    padding: 2em;
    margin: 10px;
	text-decoration: none;
    background-color: #5da0bc; 
    color: white;
}

nav ul li a:hover{
    background-color:#a7ccd8; 
}

nav li a.current { 
    background-color: white; 
    color: #5da0bc;
}

footer{
    width: 74.5%;
    margin-left: 170px;
    padding: 10px;
    color: #fff;
    text-align: center;
}